@import "tailwindcss";

:root {
  --color-primary: #052d4f;
  --color-dark-primary: #232c39;
  --color-sub-nav: #04325a;
  --color-m-button: #023a80;
  --color-m-hover-button: #0354b3;
  --font-primary: "Poppins", sans-serif;
}

* {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-primary);
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-sub-nav {
    background-color: var(--color-sub-nav);
  }

  .bg-dark-primary {
    background-color: var(--color-dark-primary);
  }

  .bg-m-button {
    background-color: var(--color-m-button);
  }

  .bg-m-button:hover {
    background-color: var(--color-m-hover-button);
  }
  .shadow-primary {
    box-shadow:
      rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
}

.loader {
  --d: 150px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #052d4f;
  box-shadow:
    calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 4px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 6px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 8px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 10px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 12px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 14px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}
